# Python
__pycache__/
*.pyc
*.pkl

# Notebooks checkpoints
.ipynb_checkpoints/

# Node.js / Next.js
nextjs_dashboard/node_modules/
nextjs_dashboard/.next/
nextjs_dashboard/out/

# Virtual environments
.venv/
venv/

# OS / Editor junk
.DS_Store
Thumbs.db
